<!DOCTYPE html>
<html>
  <head>
    <title>AHround</title>
  </head>
  <body>
    <div class=target></div>
    <div class=address></div>
    <div class=info></div>
    <%= js(:assets) %>
  </body>
</html>
